@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Please wait</h1>
    <p>Data is being downloaded from delivered files...</p>
</div>

<script>
    (function () {
        fetch('@Url.Action("LoadData", "Home")', {
            method: 'GET'
        })
            .then(response => response.json())
            .then(data => {
                window.location.href = '@Url.Action("Index", "Product")';
            })
            .catch(error => {
                console.error('An error occurred while loading data:', error);
            });
    })();
</script>